<a href="https://colab.research.google.com/github/ABHISHEKSHANA10/abhishek_info5731_spring2021/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The first In-class-exercise (1/19/2021, 20 points in total)

(1) Write a Python program to calculate the length of a string. (2 points

In [1]:
string= input("Enter a string:")
print("length:" + str(len(string)))

Enter a string:abhishek
length:8

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
sample_string= "google.com"
dictionary={}                           
for i in sample_string:                  
  if i in dictionary:
   dictionary[i]=dictionary[i] +1
  else:
    dictionary[i]= 1
print(dictionary)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
sample_list=[23,45,67,77]
print("sum:" + str(sum(sample_list)))

sum:212

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [7]:

def replace(phrase):
  first=phrase[0]
  second=phrase.replace(first,"$") 
  final=first+second[1:]
  print(final)

replace("restart")

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [11]:
def exp(a,b):
  return 3.14*(1+a/b)**3

exp(6,8)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [31]:
tuple = ("p","y","t","h","o","n")
def tuple_check(value):
  if value in tuple:
    return True
  else:
    return False
tuple_check("a")

False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [33]:
sample_set={6,89,33,54}
def min_max (sample):
  return "minimum:" +str(min(sample_set)), "maximum:" + str(max(sample_set))

min_max(sample_set)

('minimum:6', 'maximum:89')

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here